/* Paleta de colores */

$color1: #FFFFFF;
$color2: #29A6FF;
$color3: #2A84C7;
$color4: #2A628F;
$color5: #16324F;

/* generak */

main {
    min-height: 90vh;
    padding: 10px;
}

/* Navbar */

.navbar {
    background-color: $color5;

    a {
        color: $color1;

        &:hover {
            color: $color2;
            transform: translate(20px);
        }
    }
}

.offcanvas {
    background-color: $color5 !important;
}



/* Que es finti */

.btn {
    background-color: $color5 ;

    &:hover {
        color: $color4;
        background-color: $color3;
        transform: scale(1.01);
    }
}

.q-e-finti {
    overflow: hidden;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: 45vh 45vh;
    grid-column-gap: 5px;

    img {
        width: 80vw;
    }
}

@media screen and (min-width: 768px) {
    .q-e-finti {
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: 80vh;

        img {
            max-width: 40vw;
        }
    }

}

.soy-fint {
    overflow: hidden;
}

/* Pasos */
.pasos {
    display: grid;
    padding: 20px;
    justify-content: center;
    grid-template-columns: repeat(1, 90vw);
    grid-template-rows: repeat(3, 500px);
    grid-row-gap: 10px;
}

.paso {
    background-color: $color4;
    padding: 20px;
    color: $color1;

    img {
        max-height: 230px;
    }

    h1 {
        font-size: 30px;
    }

    &:hover {
        transform: scale(1.01);
    }

}

@media screen and (min-width: 768px) {
    .pasos {
        align-items: center;
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: repeat(1, 500px);
        grid-column-gap: 10px;

    }

    .paso {
        height: 50vh;
        overflow: scroll;
    }
}

/* cotiza */

.formulario {
    color: $color1;
    width: 90vw;
    background-color: $color4;
}

.evniar-form {
    margin-top: 10px;
}

/* footer */

.footer {
    background-color: $color5;
    display: flex;
    justify-content: center;

    i {
        padding: 5px;
    }
}

/* scrollbar */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: $color5 $color1;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: $color1;
}

*::-webkit-scrollbar-thumb {
    background-color: $color5;
    border-radius: 10px;
    border: 4px solid $color5;
}